<div
    class="hero-header {% if SP.ACF.get_field('header_style') == "video" %}video{% else %}standard{% endif %}"
    style="background-image: url({{ SP.ACF.get_field('header_image').sizes.header }});"
>
    <div class="row column">
        {% if SP.ACF.get_field('header_style') == "video" %}
            <div class="lightbox">
                {% if SP.ACF.get_field('title') %}
                    <h1>{{ SP.ACF.get_field('title') }}</h1>
                {% else %}
                    <h1>{{ SP.WordPress.title() }}</h1>
                {% endif %}
                <h3>{{ SP.ACF.get_field('secondary_title') }}</h3>
                <a class="fancybox-media fancybox.iframe" href="{{ SP.ACF.get_field('video') }}" title="{{ SP.ACF.get_field('video_title') }}" allowfullscreen></a>
            </div>
        {% elseif SP.ACF.get_field('header_style') == "standard" %}
            {% if SP.WordPress.getType() == 'post' or SP.WordPress.isHome()%}
                <div class="categories">
                    {% for category in  SP.WordPress.getCategory() %}
                        <a href="{{ SP.WordPress.getCategoryURL(category.term_id) }}" class="hollow button">{{ category.name }}</a>
                    {% endfor %}
                </div>
            {% elseif SP.WordPress.getType() == 'case_studies' and not SP.WordPress.isPostTypeArchive('case_studies') %}
                <div class="categories">
                    {% for category in  SP.WordPress.getTerms(SP.WordPress.ID(), 'case_studies_tags') %}
                        <a href="{{ SP.WordPress.getCategoryURL(category.term_id) }}" class="hollow button">{{ category.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if SP.ACF.get_field('title') %}
                <h1>{{ SP.ACF.get_field('title') }}</h1>
            {% else %}
                <h1>{{ SP.WordPress.title() }}</h1>
            {% endif %}
            <h4>{{ SP.ACF.get_field('secondary_title') }}</h4>
            {% if SP.WordPress.getType() == 'post' %}
                <p class="date">April 17, 2016</p>
            {% endif %}
            {% if (SP.WordPress.getType() == 'post' and not teaser|default(false)) or (SP.WordPress.getType() == 'case_studies' and not SP.WordPress.isPostTypeArchive('case_studies')) %}
                <div class="prev-next">
                    {{ SP.WordPress.getPreviousLink('%link', '<i class="fa fa-angle-left" aria-hidden="true"></i>') }}
                    {{ SP.WordPress.getNextLink('%link', '<i class="fa fa-angle-right" aria-hidden="true"></i>') }}
                </div>
            {% endif %}
        {% else %}
        {% endif %}
    </div>
</div>
{% if SP.WordPress.getType() == 'post' %}
    <div class="hero-author">
        <div class="row column">
            {{ SP.WordPress.getAvatar(126) }}
            <p class="author">BY {{ SP.WordPress.getAuthor() }}</p>
        </div>
    </div>
{% endif %}
