<div id="main-menu" data-sticky-container>
    <div class="sticky" data-sticky>
        <div class="large-logo">
            <div class="row column">
                <img src="{{ SP.ACF.get_field('menu_logo', 'option').url }}" alt="">
            </div>
        </div>
        <div class="top">
            <div class="row column">
                <ul class="horizontal menu">
                    <li><a href="{{ SP.ACF.get_field('customer_login_url', 'option') }}" class="login">Customer Login</a></li>
                    <li><a href="tel:{{ SP.ACF.get_field('primary_number', 'option') }}" class="login">{{ SP.ACF.get_field('primary_number', 'option') }}</a></li>
                    <li><a href="#quote-lightbox" class="light-green button fancybox">Get A Quote</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="row column">
                {{ SP.WordPress.menu() }}
            </div>
        </div>
        <div id="mega-menu">
            <div class="row">
                {% for menu in SP.ACF.get_field('mega_menu', 'option') %}
                    <div class="large-3 columns">
                        <div class="icon">
                            <img src="{{ menu.icon.url }}" />
                        </div>
                        <ul class="vertical menu">
                            <li><h5>{{ menu.title }}</h5></li>
                            {% for link in menu.links %}
                                <li><a href="{{ SP.WordPress.URL(link.page.ID) }}">{{ link.page.post_title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>