{% if SP.WordPress.getType() == 'case_studies' %}
    {% set start_loop = false %}
{% endif %}
{% extends 'base.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="horizontal-menu">
        <div class="row column">
            <div class="menu-centered">
                <ul class="vertical medium-horizontal menu">
                    <li><a href="{{ SP.WordPress.siteURL() }}/case-studies" class="{% if not SP.WordPress.getTerms(SP.WordPress.ID(), 'case_studies_tags') %}active{% endif %}">All</a></li>
                    {% for category in SP.WordPress.getCategories({taxonomy: 'case_studies_tags'}) %}
                        <li>
                            <a href="{{ SP.WordPress.categoryURL(category.term_id) }}" class="
                                {% if SP.WordPress.getTerms(SP.WordPress.ID(), 'case_studies_tags') and SP.WordPress.getTerms(SP.WordPress.ID(), 'case_studies_tags')[0].term_id == category.term_id %}active{% endif %}"
                            >
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {# for small and medium screens only #}
    <div class="case-studies">
        <div class="small-teasers row">
                {% for teaser in teasers %}
                    {{ teaser }}
                {% endfor %}
        </div>
        {# for large screen only #}
        <div class="large-teasers row">
            <div class="medium-4 columns">
                {% for key,teaser in teasers if key % 3 == 0 %}
                    <div class="teaser">{{ teaser }}</div>
                {% endfor %}
            </div>
            <div class="medium-4 columns">
                {% for key,teaser in teasers if key % 3 == 1 %}
                    <div class="teaser">{{ teaser }}</div>
                {% endfor %}
            </div>
            <div class="medium-4 columns">
                {% for key,teaser in teasers if key % 3 == 2 %}
                    <div class="teaser">{{ teaser }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}