{# list of post #}
{% extends 'base.html.twig' %}
{% block header %}
    <div class="row column header-bar">
        <h1>{{ SP.WordPress.Title() }}</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-8 columns">
            {% for teaser in teasers %}
                {{ teaser }}
            {% endfor %}
            <a href="" id="load-more" class="dark-green hollow button">Load More</a>
        </div>
        <div class="large-4 columns">
            <section>
                <div id="search">
                    <form role="search" method="get" id="search-post" action="{{ SP.WordPress.URL() }}">
                        <div class="input-group">
                            <input class="input-group-field" type="search" placeholder="Search Blog" name="s">
                            <input type="hidden" name="post_type" value="post" />
                            <div class="input-group-button">
                                <button type="submit" class="button" value="Search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section>
                <h3>Categories</h3>
                {% for category in SP.WordPress.getCategories() %}
                    <a href="{{ SP.WordPress.getCategoryURL(category.term_id) }}" class="hollow button">{{ category.name }}</a>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}