<div class="generic-content-reversed">
    <div class="row">
        <div class="medium-6 large-5 columns">
            <img src="{{ SP.ACF.get_sub_field('image').url }}" alt="{{ SP.ACF.get_sub_field('title') }}">
        </div>
        <div class="medium-6 large-7 columns">
            <h3 class="green-header">{{ SP.ACF.get_sub_field('title') }}</h3>
            <div class="content">
                {{ SP.ACF.get_sub_field('content') }}
            </div>
            <a href="{{ SP.ACF.get_sub_field('button_url') }}" class="light-green button">{{ SP.ACF.get_sub_field('button_text') }}</a>
        </div>
    </div>
</div>